.box {
  height: 858px;
  position: relative;
  width: 1380px;
}

.box .view {
  height: 858px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1380px;
}

.box .group {
  height: 858px;
  left: 0;
  position: absolute;
  top: 0;
  width: 709px;
}

.box .login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 152px;
  position: absolute;
  top: 471px;
  width: 373px;
}

.box .login-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.box .login-apple {
  align-self: stretch;
  background-color: #ffffff1a;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 12px;
  height: 64px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.box .text-wrapper {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  left: calc(50.00% - 76px);
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
}

.box .vector {
  height: 23px;
  left: 35px;
  position: absolute;
  top: 20px;
  width: 18px;
}

.box .login-google {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff1a;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  height: 64px;
  justify-content: space-around;
  overflow: hidden;
  padding: 19px 86px 19px 35px;
  position: relative;
  width: 100%;
}

.box .img {
  height: 20px;
  position: relative;
  width: 20px;
}

.box .div {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  left: calc(50.00% - 82px);
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
  width: 165px;
}

.box .text-wrapper-2 {
  align-items: center;
  aspect-ratio: 7.72;
  color: #ffffff;
  display: flex;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22.01px;
  justify-content: center;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 170px;
}

.box .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 152px;
  position: absolute;
  top: 208px;
  width: 465px;
}

.box .title {
  height: 210px;
  margin-right: -4.00px;
  position: relative;
  width: 469px;
}

.box .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 60px;
  font-weight: 600;
  left: 0;
  letter-spacing: -2.00px;
  line-height: 66px;
  position: absolute;
  top: 0;
  width: 465px;
}

.box .p {
  aspect-ratio: 6.22;
  color: #cbd5e1;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 150px;
  width: 373px;
}

.box .input {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 854px;
  position: absolute;
  top: 124px;
  width: 526px;
}

.box .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 57px;
  height: 554px;
  position: relative;
  width: 100%;
}

.box .title-2 {
  height: 137px;
  position: relative;
  width: 465px;
}

.box .text-wrapper-4 {
  color: #080814;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 52px;
  font-weight: 600;
  left: 0;
  letter-spacing: -2.00px;
  line-height: 62px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box .text-wrapper-5 {
  color: #52525b;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 77px;
  width: 461px;
}

.box .input-2 {
  height: 248px;
  position: relative;
  width: 526px;
}

.box .email {
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 95px;
  left: 0;
  position: absolute;
  top: 0;
  width: 528px;
}

.box .text-wrapper-6 {
  align-items: center;
  color: #080814;
  display: flex;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  width: 45px;
}

.box .rounded-rectangle {
  background-color: #f8fafc;
  border: 1px solid;
  border-color: #cbd5e1;
  border-radius: 12px;
  height: 60px;
  width: 526px;
}

.box .password {
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 95px;
  left: 0;
  position: absolute;
  top: 111px;
  width: 528px;
}

.box .text-wrapper-7 {
  align-items: center;
  color: #080814;
  display: flex;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  width: 59px;
}

.box .text-2 {
  display: flex;
  gap: 309px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 226px;
  width: 528px;
}

.box .check {
  display: flex;
  gap: 9px;
  width: 135px;
}

.box .shape {
  border: 1px solid;
  border-color: #94a3b8;
  border-radius: 5px;
  height: 19px;
  margin-top: 1px;
  width: 19px;
}

.box .text-wrapper-8 {
  color: #18181b;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  width: 105px;
}

.box .text-wrapper-9 {
  color: #2563eb;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  width: 82px;
}

.box .button-primary-with-icon {
  background-color: #2562eb !important;
  border-radius: 9px !important;
  height: 55px !important;
  left: unset !important;
  top: unset !important;
  width: 160px !important;
}

.box .button-primary-with-instance {
  margin-bottom: -2.50px !important;
  margin-top: -2.50px !important;
}

.box .button-primary-with-icon-instance {
  font-family: "Poppins-SemiBold", Helvetica !important;
  font-weight: 600 !important;
  letter-spacing: -0.20px !important;
  line-height: 28px !important;
  text-align: center !important;
}

.box .gravity {
  align-items: center;
  align-self: stretch;
  color: transparent;
  display: flex;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
}

.box .span {
  color: #64748b;
  line-height: 22px;
}

.box .text-wrapper-10 {
  color: #2563eb;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
}